	<h1>Add New Admin</h1>
	<nav class="admin">
		<a href="/admin" class="item"> Home</a>
		<a href="/adduser" class="item"> Users</a>
		<a href="/addadmin" class="item"> Admins</a>
		<a href="/reports" class="item"> Reports</a>
	</nav></br>

	<div><form>
		First Name:<br>
		<input type='text' placeholder="Enter First Name"name="firstname"><br>
		Last Name:<br>
		<input type='text' placeholder="Enter Last Name" name="lastname"><br>
		Email:<br>
		<input type='text' placeholder="Enter Admins Email" name="email"><br>
		<input type="submit" name="addUser" Value="Add New User"><br>