	<div id="header">
		<h2>Employee Recognition Portal</h2>
	</div>
	<nav class="topnav">
		<a href="/admin" class="item"> Home</a>
		<a href="/adduser" class="item"> Users</a>
		<a href="/addadmin" class="item"> Admins</a>
		<a href="/reports" class="item"> Reports</a>
		<a href="/logout" id="logout">Logout</a>
	</nav></br>

	<div><form>
		<h3>Please complete form below to add new user</h3> 
		First Name:<br>
		<input type='text' placeholder="Enter First Name"name="firstname"><br>
		Last Name:<br>
		<input type='text' placeholder="Enter Last Name" name="lastname"><br>
		Email:<br>
		<input type='text' placeholder="Enter Users Email" name="email"><br>
		<input type="submit" name="addUser" Value="Add New User"><br>
	</form></div>