	<div id="header">
		<h2>Employee Recognition Portal</h2>
	</div>
	<nav class="topnav">
		<a href="/admin" class="item"> Home</a>
		<a href="/adduser" class="item"> Users</a>
		<a href="/addadmin" class="item"> Admins</a>
		<a href="/reports" class="item"> Reports</a>
		<a href="/logout" id="logout">Logout</a>
	</nav></br>
	<a href="/addnewuser"><input type="submit" name="adduser" value="Add New User"></a>

	<h4>This is just an example</h4>
	<table>
		<h4>List of Users</h4>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email Address</th>
			
		</tr>
		<tr>
			<td>John</td>
			<td>Smith</td>
			<td>John.smith@gmail.com</td>
			
			<td><input type="submit" name="delete" Value="Delete"></td>
			<td><input type="submit" name="delete" Value="Edit"></td>
		</tr>