<h1>Admin</h1><br>
	<nav class="admin">
		<a href="/admin" class="item"> Home</a>
		<a href="/adduser" class="item"> Users</a>
		<a href="/addadmin" class="item"> Admins</a>
		<a href="/reports" class="item"> Reports</a>
		
	</nav></br>
	<h3> Welcome, John Do </h3>