<div id="header">
		<h2>Employee Recognition Portal</h2>
	</div>
	<nav class="topnav">
		<a href="/admin" class="item"> Home</a>
		<a href="/adduser" class="item"> Users</a>
		<a href="/addadmin" class="item"> Admins</a>
		<a href="/reports" class="item"> Reports</a>
		<a href="/logout" id="logout">Logout</a>
	</nav></br>
		
	</nav></br>
	<h3> Welcome, John Do </h3>