<div id="header">
	<h2>Employee Recognition Portal</h2>
</div>
<nav class="topnav">
	<a href="/user" > Home</a>
	<a href="/award" > Award Entry</a>
	<a href="/awardhist" > Award History</a>
	<a href="/logout" id="logout">Logout</a>
</nav>
</br>
<div>
	<form>
		Award:<br>
		<input type="radio" name="award" value="Month"> Employee of the Month<br>
		<input type="radio" name="award" value="Week"> Employee of the Week<br><br>
		First Name:<br>
		<input type='text' placeholder="Enter First Name" name="firstname"><br>
		Last Name:<br>
		<input type='text' placeholder="Enter Last Name" name="lastname"><br>
		Email:<br>
		<input type='text' placeholder="Enter Winner's Email" name="email"><br>
		<input type="submit"  Value="Create Award"><br>
		<input type="submit" name="clear" Value="Clear Entry"><br>
	</form>
</div>