	<div id="header">
		<h2>Employee Recognition Portal</h2>
	</div>
	<nav class="topnav">
		<a href="/user" > Home</a>
		<a href="/award" > Award Entry</a>
		<a href="/awardhist" > Award History</a>
	</nav></br>
	<h4>This is just an example</h4>
	<table>
		<tr>
			<th>Winner First Name</th>
			<th>Winner Last Name</th>
			<th>Created By</th>
			<th>Date Created</th>
			<th>Date Given</th>
		</tr>
		<tr>
			<td>Jane</td>
			<td>Doe</td>
			<td>Smith. John</td>
			<td>07/25/2015</td>
			<td>07/26/2015</td>
			<td><input type="submit" name="delete" Value="Delete"></td>
		</tr>
		
	</table>