<h2>Create A User</h2>
<div>
  <form id="create-user-form">
    Username (email): <input type="text" name="email" value=""><br>
    Last Name: <input type="text" name="last_name" value=""><br>
    First Name: <input type="text" name="first_name" value=""></input><br>
    Password: <input type="text" name="password" value=""><br>
    User Type: <input type="text" name="type" value=""><br>
    <button id="create-form-btn" type="button" name="button"> Submit </button>
  </form>
</div>
