<div id="header">
    <h2>Employee Recognition Portal</h2>
  </div>
<nav class="topnav">
  <a href="/">Home</a>
  <a href="/awards/create">Give Award</a>
  <a href="/awards">Award History</a>
  <a href="/user">Change Name</a>
  <a href="/logout" id="logout">Logout</a>
</nav>
<div>
  <form id="create-award-form" method="post" enctype="multipart/form-data">
    Award:<br><br>
    <select name="type">
      <option  value="Employee of the Month">Employee of the Month</option>
      <option  value="Employee of the Week">Employee of the Week</option>
    </select><br>
		First Name:<br>
		 <input type="text" name="first_name" value="" placeholder="Enter First Name"></input><br>
    Last Name:<br>
     <input type="text" name="last_name" value="" placeholder="Enter Last Name"><br>
    Recipient Email: <br>
    <input type="email" name="email" value="" placeholder="Enter Recipient Email"><br>
    Award Date: <br>
     <input type="text" name="award_date" value="" placeholder="MM/DD/YYYY"><br>
		 <input type="submit" class="submitBut" name="" value="Submit">
  </form>
</div>
