<nav class="topnav">
	<a href="/homeUser" > Home</a>
	<a href="/awards/create" > Give Award</a>
	<a href="/awards" > Award History</a>
	<a href="/logout" id="logout">Logout</a>
</nav>
<div>
  <form id="create-award-form">
    Award:<br><br>
    <select name="type">
      <option  value="Employee of the Month">Employee of the Month</option>
      <option  value="Employee of the Week">Employee of the Week</option>
    </select><br>
    Last Name:<br>
     <input type="text" name="last_name" value="" placeholder="Enter Last Name"><br>
    First Name:<br>
     <input type="text" name="first_name" value="" placeholder="Enter First Name"></input><br>
    Created By: <br> <input type="text" name="created_by" value="" placeholder="Enter Created By"><br>
    Created On: <br>
     <input type="text" name="created_on" value=""><br>
    <button id="create-form2-btn" type="button" name="button"> Submit </button>
  </form>
</div>