	<form action="forgot" method="POST">
		<div class="container">
		<h3> Forgot Password </h3>
		<input type="text" placeholder="Enter Email" name="email" required> 
		</br>
		</br>
		<button type="submit" id="recoverBut">Reset Password</button>
		</br>
		</div>
	</form>
