<div id="header">
		<h2>Employee Recognition Portal</h2>
	</div>
<nav class="navbar navbar-dark bg-dark">
  <a class="nav-item nav-link" href="/employees/reports">Reports</a>
  <a class="nav-item nav-link" href="/employees">Manage Employees</a>
  <a class="nav-item nav-link" href="/logout" id="logout">Logout</a>
</nav>

<h2>Welcome!</h2>
