<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CS 467 - Employee Recognition Portal</a>
  <a class="nav-item nav-link" href="/">Reports</a>
  <a class="nav-item nav-link" href="/employees">Manage Employees</a>
  <a class="nav-item nav-link" href="/logout" id="logout">Logout</a>
</nav>

<h2>Reports go here</h2>
