<div id="header">
    <h2>Employee Recognition Portal</h2>
  </div>
<nav class="topnav">
  <a href="/">Home</a>
  <a href="/awards/create">Give Award</a>
  <a href="/awards">Award History</a>
  <a href="/user">Change Name</a>
  <a href="/logout" id="logout">Logout</a>
</nav>
<h2>Welcome to the home page User!</h2>
