<nav class="topnav">
	<a href="/homeAdmin" > Home</a>
	<a href="/employees/create" > Create Users</a>
	<a href="/employees" > View Employees</a>
	<a href="/logout" id="logout">Logout</a>
</nav>
<h2>Welcome to the home page!</h2>
