
	<div id="header">
		<h2>Employee Recognition Portal</h2>
	</div>
	
	<nav class="topnav">
		<a href="/user" > Home</a>
		<a href="/award"> Award Entry</a>
		<a href="/awardhist"> Award History</a>
		<a href="/logout" id="logout">Logout</a>
	</nav></br>
	
	<h4> Welcome,</h4>
	<h3>John Smith</h3>
	<div>
	Type: User<br>
	Email: John.smith@gmail.com<br>
	Signature Image:<br>
	<img src="signature.jpg" width="200" height="100"><br>
	<input type="submit" name="profile" value="Update Profile">
https://www.w3schools.com/css/css_website_layout.asp
	
	</div>