 body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
#header{
	background-color: black;
	color: white;
	padding: 10px;

}

.login{

	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;

}


h3{
	text-align: center;
}



.block{

	display: block;
	width: 100%;
	border: none;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
}
#userlog{
	background-color: green;

}

#userlog:hover{
	background-color: gray;
	color:black;
}

#adminlog{
	background-color: blue;
}

#adminlog:hover{
	background-color: gray;
}

.container {
  padding: 16px;
}

form {
	border: 3px solid #f1f1f1;
	margin: 20px;
	margin-left:20%;
	margin-right: 20%;
	padding: 20px;
	text-align: center;
}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;


}

#loginBut{
	background-color: green;
	display: inline-block;
	width: 50%;
	margin-bottom: 20px;
	border: none;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
}

nav{
	overflow: hidden;
	background-color: #333;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover{
	background-color: gray;
	color: black;
}

#logout{
	float: right;
}

#logout:hover{
	background-color: red;
}
th, #tableVal{
	border: 1px solid #ddd;
	padding: 8px;
}
tr:nth-child(even){
	background-color:lightblue;
}

th{
	padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}
.delete-btn2, .delete-btn {
	background-color: red;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.delete-btn2:hover, .delete-btn:hover{
background-color: darkred;
	color: black;
}
.edit-btn2, .edit-btn{
background-color: blue;
color: white;
padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.edit-btn2:hover, .edit-btn:hover{
	background-color: darkblue;
	color: black;
}
#tablebuttons{
	background-color: white;
}
table{
	margin-right: auto;
	margin-left: auto;
	padding: 40px;
}
.submitBut, #edit-form2-btn, #create-form-btn, #edit-form-btn{
	background-color: blue;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#createBut{
	background-color: green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}

#createBut:hover{
	background-color: darkgreen;
	color: black;
}

select{
	display: block;
	font-size: 12px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;

}

ul, #createUser{
	text-align: center;
} 